body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#2e7d32;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:#1b5e20;
color:white;
text-align:center;
padding:80px 20px;
}

.hero h2{
font-size:40px;
}

.btn{
background:#ff9800;
color:white;
padding:12px 25px;
text-decoration:none;
display:inline-block;
margin-top:20px;
border-radius:5px;
}

.steps{
text-align:center;
padding:50px;
background:white;
}

.step-box{
display:flex;
justify-content:center;
gap:40px;
margin-top:20px;
}

.step{
background:#f1f1f1;
padding:20px;
width:200px;
border-radius:10px;
}

.price{
padding:40px;
text-align:center;
}

table{
width:80%;
margin:auto;
border-collapse:collapse;
background:white;
}

table th, table td{
border:1px solid #ddd;
padding:10px;
}

th{
background:#2e7d32;
color:white;
}

.order{
background:#2e7d32;
color:white;
text-align:center;
padding:50px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
}
